<div class="container text-center">
</br>
<h2 class="action-banner">Modification du compte</h2>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="form-group col-xs-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de confirmation: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :mot_de_passe %> <i class="form-text text-muted">(Ne rien écrire pour ne pas modifier)</i>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
    <% if @minimum_password_length %>
      <em class="form-text text-muted"><%= @minimum_password_length %> caractères minimum</em>
      </br>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmation_du_mot_de_passe %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>
<br />
<br />
  <div class="field">
    <%= f.label :mot_de_passe_actuel %> <i>(Il est nécessaire pour confirmer les modifications)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Mettre à jour", class: 'btn btn-success btn-lg btn-block' %>
  </div>
<% end %>
</div>
</div>

<div class="container text-center pt-5">
<h3>Supprimer mon compte</h3>

<p>T'es pas heureux chez nous ? 😔</p> 
</br>
<%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Sûr sûr ?" }, method: :delete, class: "'btn btn-danger btn-lg btn-block'" %></p>
</br>
<%= link_to "Retour", :back, class:"btn btn-secondary" %>
</div>
