              
         <div class="container">     
            </br>
            <h2 class="action-banner">Mon profil</h2>
<main class="container mb-5 mt-5">
    <div class="float-left mr-5">
       
    </div>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
           <div class="text-center pt-5">
      <% if current_user.first_name == '' && current_user.last_name == ''%>
        <h4 class="font-weight-bold my-4">Nom : Non renseigné</h4>
      <% else %>
         <h3 class="action-banner2">Nom :</h3>
        <h4> <%= current_user.first_name %> <%= current_user.last_name %></h4>
      <% end %>
        <div class="text mb-4">
            <h3 class="action-banner2">Email :</h3>
            <h4><%= current_user.email %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class=" d-flex justify-content-center">
    <%= link_to "Modifier mon compte", edit_user_registration_path, class:"btn btn-danger button_center my-2" %>
          <%= link_to "Editer mon profil", edit_user_path(current_user.id), class:"btn btn-success button_center my-2" %>
        </div>

<hr>
<main class="container mb-5">
  <h4 class="font-weight-bold my-4" >Mes commandes </h4>
  <% if Order.find_by(user_id: @user.id) == nil %>
     <p> Vous n'avez pas fait de commandes </p>
  <% else %>
  <% Order.all.each do |order| %>
    <% if order.user_id == current_user.id %>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Commande du : <%= order.created_at.strftime("%d.%m.%Y à %H:%M") %></p>
        <p class="card-text"><small class="text-muted">Nombre de produits : <%= order.items.length %></small></p>
      </div>
    </div>
    <% end %>
  <% end %>
  <% end %>

</main>

