<div class="container">
  <h2>Modifier mon mot de passe</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Recevoir un email de changement de mot de passe" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>