<div class="container mt-5">
  <h2 class="action-banner">Mon panier</h2>
  <hr>
  <% if @cart.items.length != 0 %>
    <p><strong> Mes articles</strong></p>
  <% end %>
  <% @cart.items.each do |item| %>
  
    <div class="card">
      <div class="card-body">
        <div class="float-left mr-5">
          <p><%= image_tag item.image_url, height: "200px;" %></p>
        </div>
        <p><strong>Nom du chat :</strong> <%= item.title %> </p>
        <p><strong>Prix de la photo :</strong> <%= item.price %>€</p>
        <%= form_with(model: @cart, local: true, url: cart_path(item.id), method: "delete")  do |form| %>
          <%= form.submit "Supprimer du panier", class:"btn btn-danger float-right"%>
        <% end %>
      </div>
    </div>
  <% end %>
  <hr>
  <% if @cart.items.length != 0 %>
    <p> <strong>Prix total :</strong> <%= @cart.total %> </p>
  <% else %>
    <p> Votre panier est vide </p>
  <% end %>

  <div id="stripe">
    <%= render 'stripe' %>
  </div>
</div>