<div class="container mt-5">
  <h2 class="action-banner">Mon panier</h2>
  <hr>
  <% if @cart.items.length != 0 %>
    <h4><strong> Mes articles</strong></h4>
  <% end %>

  <% @cart.items.each do |item| %>
  
    <div class="card" id=<%= JoinTableCartItem.find_by(cart_id: @cart.id, item_id: item.id).id %>>
      <div class="card-body">
        <div class="float-left mr-5">
          <p><%= image_tag item.image_url, height: "200px;" %></p>
        </div>
        <p><strong>Nom du chat :</strong> <%= item.title %> </p>
        <p><strong>Prix de la photo :</strong> <%= item.price %>€</p>
        <%= link_to 'Supprimer du panier', cart_path(item.id), method: :delete, class: "btn btn-danger float-right", remote: true %> 
      </div>
    </div>

  <% end %>
  <hr>
  <% if @cart.items.length != 0 %>
    <h5> <strong>Prix total :</strong> <%= @cart.total %> €</h5>
  <% else %>
    <p> Votre panier est vide </p>
  <% end %>

  <div id="stripe" class="mt-2">
    <%= render 'stripe' %>
  </div>
</div>