
<main class="container">
  <h2 class="display-4 text-center my-3">Voici nos superbes photos de chats :</h2>
  <div class="row row-cols-4 row-cols-md-3 col-sm-12 p-md-0 m-md-0 d-flex justify-content-center">

  <% @items.each do |item| %>
    <div class="card border-secondary mb-4">
      <div class="card-header p-0">
        <%= image_tag item.image_url,  height: "200px", class: "card-img-top" %>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= item.title %></h4>
        <p class="card-text"><%= item.race %></p>
        <p class="card-text"><%= item.price %>€</p>
      </div>
      <div class="card-footer">
        <%= link_to "See more", item_path(item.id), class:"btn btn-outline-dark mx-1 my-1" %>
      </div>
    </div>
  <% end %>
  </div>
</main>
