
<!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 black_overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center ">
                                <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s" >Hi, This is Halen, a professional Photographer <br>
                                    I Captured Moments</h3>
                                    
                                <div class="video_service_btn wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
                                    <a href="#" class="boxed-btn3">Explore Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    <!-- slider_area_end -->

    <!-- photography_skill_area  -->
    <div class="photography_skill_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-md-9">
                    <div class="section_title text-center">
                        <h3>World class photography skills</h3>
                        <p>Whether you’re about to create a website for the first time, or you’re looking 
                            for a theme that provides advanced capabilities, we have got them in
                            Blacksilver theme.</p>
                        <div class="singnature_thumb">
                            <%= image_tag "img/photography/signature.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /photography_skill_area  -->

    <!-- wild_photography  -->
    <div class="wild_photography">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center ">
                <div class="col-lg-6">
                    <div class="wildlife_photo">
                        <%= image_tag "img/photography/zebra.png" %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>Wildlife photography</h3>
                        <p>Whether you’re about to create a website for the first <br> time, or you’re looking for a theme that provides <br> advanced capabilities.</p>
                        <a href="#" class="black_btn">Explore Work</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /wild_photography  -->

    <!-- gallery_area  -->
    <div class="gallery_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7">
                    <div class="section_title text-center mb-50">
                        <h3>My world class photography</h3>
                        <p>Whether you’re about to create a website for the first time, or you’re looking 
                            for a theme that provides advanced capabilities, we have got them in 
                            Blacksilver theme.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row no-gutters ">
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                        <%= image_tag "img/gallery/1.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/2.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/3.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/4.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/5.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/6.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/7.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/8.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_photography">
                        <div class="thumb">
                            <%= image_tag "img/gallery/9.png" %>
                        </div>
                        <a  href="baby_gallery.html" class="hover ">
                            <div class="hover_inner">
                                <h3>Baby album</h3>
                                <span>Photography / Baby</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /gallery_area  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="testimonial_active owl-carousel">
                        <div class="single_testmonial text-center">
                            <h3>Our Customers Say</h3>
                            <p>
                                Whether you’re about to create a website for the first time, or you’re looking 
                                for a theme that provides advanced capabilities, we have got them in 
                                Blacksilver theme.
                            </p>
                            <div class="author_name d-flex align-items-center justify-content-center">
                                <div class="thumb">
                                    <%= image_tag "img/testmonial/author.png" %>
                                </div>
                                <span>- Robert Thomson</span>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

    <!-- team_area  -->
    <div class="team_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <%= image_tag "img/team/3.png" %>
                            </div>
                            <div class="team_info text-center">
                                <h3>Milani Mou</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <%= image_tag "img/team/2.png" %>
                            </div>
                            <div class="team_info text-center">
                                <h3>Jasmine Pinky</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <%= image_tag "img/team/1.png" %>
                            </div>
                            <div class="team_info text-center">
                                <h3>Piya Zosoldos</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /team_area  -->

    <div class="contact_info_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="cotact_info">
                        <div class="section_title">
                                <h3>Contact Us</h3>
                                <p>Whether you’re about to create a website for the first time or you’re looking.</p>
                        </div>
                        <div class="address_info">
                            <h4>Address</h4>
                            <ul class="Address" >
                                <li>
                                        200/D, Green lane, Kings street, New York
                                </li>
                                <li>
                                        +10 787 367 2567
                                </li>
                                <li>
                                        <a href="#">contact08@halen.com</a>
                                </li>
                            </ul>
                            <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                        <div class="d-sm-block">
                                <script>
                                    function initMap() {
                                        var uluru = {
                                            lat: -25.363,
                                            lng: 131.044
                                        };
                                        var grayStyles = [{
                                                featureType: "all",
                                                stylers: [{
                                                        saturation: -90
                                                    },
                                                    {
                                                        lightness: 50
                                                    }
                                                ]
                                            },
                                            {
                                                elementType: 'labels.text.fill',
                                                stylers: [{
                                                    color: '#ccdee9'
                                                }]
                                            }
                                        ];
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            center: {
                                                lat: -31.197,
                                                lng: 150.744
                                            },
                                            zoom: 9,
                                            styles: grayStyles,
                                            scrollwheel: false
                                        });
                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
                                </script>
                
                            </div>
                </div>
            </div>
        </div>
    </div>

    <!-- instragram_area  -->
    <div class="instragram_area">
        <div class="single_instagram">
            <%= image_tag "img/instragram/1.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <%= image_tag "img/instragram/2.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <%= image_tag "img/instragram/3.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <%= image_tag "img/instragram/4.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <%= image_tag "img/instragram/5.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <%= image_tag "img/instragram/6.png" %>
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /instragram_area  -->