<%= render "layouts/banner"%>


<main class="container">
  
  <div id="filter">
    <p id="all" class="btn btn-outline-dark">All</p>
      <% @category.uniq.each do |item| %>
       <p id="race" class="btn btn-outline-secondary"><%= item %></p>
      <% end %>
  </div>
  <div class="row row-cols-4 row-cols-md-3 col-sm-12 p-md-0 m-md-0 d-flex justify-content-center">

  <% @items.each do |item| %>
    <div class="col-sm-12 col-12 col-md-4">
      <a href="<%= item_path(item.id) %>" class="card-clic">
        <div class="card border-secondary mb-4 card-index">
          <div class="card-header p-0">
            <%= image_tag item.image_url,  :size => "400x500", :crop => :fill, class: "card-img-top" %>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= item.title %></h4>
            <p class="card-text"><%= item.race %></p>
            <p class="card-text"><%= item.price %> €</p>
          </div>
          <%# Le bouton see more, à voir si toujours utile ? (Mais quand on l'enlève ça bouge)  %>
          <div class="card-footer">
            <%= link_to "Voir plus", item_path(item.id), class:"btn btn-outline-dark mx-1 my-1" %>
              <%= link_to cart_path(item.id), class: "color_cart", method: "PUT" do %>
                <i class="fas fa-shopping-cart fa-lg float-right mt-3 mr-2"></i>
              <% end %>
            
          </div>
        </div>
      </div>
    </a>
  <% end %>
  </div>
</main>


