<%= render "layouts/small_banner"%>

<main class="container mb-5 mt-5">
    <div class="float-left mr-5">
       <%= image_tag @item.image_url, height: "500px;" %>
    </div>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Photographe : </strong><%= @item.photographer %></li>
        <li class="list-group-item"><strong>Description : </strong><%= @item.description %></li>
        <li class="list-group-item"><strong>Race : </strong><%= @item.race %></li>
        <li class="list-group-item"><strong>Prix : </strong><%= @item.price %> €</li>
      </ul>
  </div>
  <%= form_with method: "PUT", url: cart_path  do |form| %>
    <%= form.submit "Ajouter au panier".html_safe, class:"btn btn-secondary mt-3"%>
  <% end %>

</main>